.chat-user-list{
    border-right: 1px solid #D3D3D3;
    width: 240px;
}

.chat-list {
    display  : flex;
    flex-wrap: wrap;
}

.search {
    padding: 10px;
    height    : 38px;
    border-bottom: 1px solid #D3D3D3;
}

.search-input {
    width        : 200px;
    height       : 30px;
    background   : #FFFFFF;
    border-radius: 18px;
    padding-left : 15px;
}

/* .chat-list {
    height    : calc(100%-180px);
} */

.channels-contact {
    width: 100%;
}

.item-channel {
    height       : 50px;
    padding      : 10px;
    border-bottom: 1px solid #F0F0F0;
    cursor       : pointer;
}

.item-channel:hover {
    background-color: #D3D3D3;
}
