.chat-user-list {
    border-right: 1px solid #D3D3D3;
    width       : 240px;
}

.chat-list {
    display       : flex;
    /* flex-wrap  : wrap; */
    flex-direction: column;
    /* overflow: hidden; */
}

.search {
    padding      : 10px;
    height       : 38px;
    border-bottom: 1px solid #D3D3D3;
}

.search-icon {
    position    : absolute;
    top         : 20px;
    padding-left: 15px;
    height      : 15px;
}

.search-input {
    width        : 190px;
    height       : 30px;
    background   : #FFFFFF;
    border-radius: 18px;
    padding-left : 28px;
}


.channels-contact {
    width: 100%;
    height: auto;
}

.item-channel {
    width        : 230px;
    padding      : 10px 5px;
    border-bottom: 1px solid #F0F0F0;
    cursor       : pointer;
    display      : flex;
}

.item-channel:hover {
    background-color: #D3D3D3;
}

.no-channels {
    text-align : center;
    font-weight: 300;
}

.user-img {
    width : 40px;
    height: 40px;
}

.user-msg {
    padding-left: 10px;
    font-size   : 15px;
}

.new-msg-id {
    font-weight: 600
}

.new-msg-text {
    padding-top: 10px;
    font-weight: 200
}

.new-msg-time {
    position: absolute;
    left    : 265px;
}

.list-over {
    overflow: hidden;
    height: 100%;
}

.new-notice-text {
    height          : 20px;
    padding         : 5px 10px;
    background-color: #D8D8D8;
    cursor          : pointer;
}

.new-notice-icon {
    width : 30px;
    height: 30px;
}


.show-list-icon {
    width : 20px;
    height: 20px;
}

.icon-active {
    transform: rotate(90deg)
}

.list-img {
    width : 30px;
    height: 30px;
}

.list-id {
    padding: 5px 10px;
}

.group-list{
    height: 370px;
    overflow-y: auto;
}

.contact-list {
    height: 370px;
    overflow-y: auto;
}